:root {
	--main-bg-color: rgb(44, 58, 58);
	--main-bg-color-disabled: rgb(44, 58, 58, 0.5);
	font-family: 'JetBrains Mono', monospace !important;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	cursor: pointer;
}
.gridjs-td {
	cursor: pointer;
}
.gridjs-footer button,
.gridjs-head button {
	color: black;
}

.table {
	& tr:hover td {
		background-color: #f0f0f0;
	}
}
